<% const d = new Date(); const year = d.getFullYear();%>
<footer>
  <p class="copyright">&copy; <%= year %>, Charles Kingsley Ajeigbe - CSE 340 App</p>
   <%# Assignment 3, Task 3 Link %>
   <p><a href="/inv/broken" title="Will trigger intentional exception">Error Link</a></p>
</footer>