<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="CSE Motors - CSE 340 App">
<meta property="og url" content="https://class-340-tygl.onrender.com">
<meta name="author" content="Fong King Leong">
<meta name="description" content="Learn to use Node and Ejs for backend web sites">
<title> <%= title %> | CSE 340 App</title>
<link rel="icon" type="image/x-icon" href="images/site/favicon-32x32.png">
<link rel="stylesheet" href="/css/styles.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">