<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Fong King Leong">
    <meta name="description" content="Learn to use Node and Ejs for backend web sites">
    <title><%- title %> CSE 340 App</title>
    <link rel="icon" type="image/x-icon" href="images/site/favicon-32x32.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/styles/error.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Patua+One&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/account.css">
</head>
