<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:type" content="website">
    <meta property="og:title" content="CSE Motors - CSE 340 App">
    <meta property="og url" content="https://three40learndemo-ac1z.onrender.com/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Fong King Leong">
    <meta name="description" content="Learn to use Node and Ejs for backend web sites">
    <title><%- title %> Home | CSE 340 App</title>
    <link rel="icon" type="image/x-icon" href="images/site/favicon-32x32.png">
    <link rel="stylesheet" href="/css/styles.css" media="screen">
   
</head> 
