<!DOCTYPE html>
<button class="menu-toggle">☰</button>
<nav class="nav-bar">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Custom</a></li>
            <li><a href="/">Sedan</a></li>
            <li><a href="/">SUV</a></li>
            <li><a href="/">Truck</a></li>
        </ul>
        </nav>
    </nav>