<h1>Welcome to CSE Motors!</h1>

<div class="hero">
    <img src="/public/images/vehicles/delorean.jpg" alt="Delorean">
    <div>
        <h2>DMC Delorean</h2>
        <p>3 Cup holders <br>
        Superman doors <br>
        Fuzzy dice!</p>
        <img src="/public/images/site/own_today.png" alt="Own Today">
    </div>
</div>