<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<main class="container">
    <section class="content-grid">
        <div class="content=grid">
            <h2>Welcome to CSE Motors!</h2>
            <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean" class="car-image">
            <aside class="car-description">
                <p><strong>DMC Delorean</strong></p>
                <p>3 Cup holders</p>
                <p>Superman doors</p>
                <p>Fuzzy dice!</p>
                <button>Own Today</button>
            </aside>  
        </div>
        
        <section class="content-section review-section">
            <h2>DMC Delorean Review</h2>
            <ul>
                <li>"So fast it's almost like travelling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly?" (4/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin' and I love it!" (5/5)</li>
            </ul>
        </section>

        <section class="content-section upgrades-section">
            <h2>Delorean Upgrades</h2>
            <div class="upgrade-grid">
                <% const upgrades = [
                        {img: 'flux-cap.png', alt: 'Flux Capacitor', caption: 'Flux Capacitor'},
                        {img: 'flame.jpg', alt: 'Flame Decal', caption: 'Flame Decals'},
                        {img: 'bumper_sticker.jpg', alt: 'Bumper Sticker', caption: 'Bumper Stickers'},
                        {img: 'hub-cap.jpg', alt: 'Hub Cap', caption: 'Hub Caps'}
                    ]; %>
                    <% upgrades.forEach(u => { %>
                        <figure class="upgrade-item">
                            <img src="/images/upgrades/<%= u.img %>" alt="<%= u.alt %>" class="upgrade-image">
                            <figcaption><%= u.caption %></figcaption>
                        </figure>
                    <% }) %>
                </div>
            </section>
        </section>
    </main>
</body>
</html>
