<h1>CSE Motors</h1>

  <main>
            <div class="content-grid">
                <section class="content-section">
                    <h2>Welcome to CSE Motors!</h2>

                    <img src="\public\images\vehicles\delorean.jpg" alt="DMC Delorean" class="car-image">

                    <p>DMC Delorean</p>
                    <p>3 Cup holders</p>
                    <p>Superman doors</p>
                    <p>Fuzzy dice!</p>

                    <button>Own Today</button>             
                <section class="content-section">
                    <h2>DMC Delorean Review</h2>
                    <ul>
                        <li>"So fast it's almost like travelling in time." (4/5)</li>
                        <li>"Coolest ride on the road." (4/5)</li>
                        <li>"I'm feeling McFly?" (4/5)</li>
                        <li>"The most futuristic ride of our day." (4.5/5)</li>
                        <li>"80's livin' and I love it!" (5/5)</li>
                    </ul>
                </section>
                </section>
                
                <section class="content-section">
                    <h2>Delorean Upgrades</h2>
                    <div>
                        <img src="\public\images\upgrades\flux-cap.png" alt="Flux Capacitor" class="upgrade-image">
                        <figcaption>Flux Capacitor</figcaption>
                    </div>
                    <div>
                        <img src="\public\images\upgrades\flame.jpg" alt="Flame Decal" class="upgrade-image">
                        <figcaption>Flame Decals</figcaption>
                    </div>
                    <div>
                        <img src="\public\images\upgrades\bumper_sticker.jpg" alt="Bumper Sticker" class="upgrade-image">
                        <figcaption>Bumper Stickers</figcaption>
                    </div>
                    <div>
                        <img src="\public\images\upgrades\hub-cap.jpg" alt="Hub Cap" class="upgrade-image">
                        <figcaption>Hub Caps</figcaption>
                    </div>
                </section>
                </div>
    </main>
</html>
