/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Custom CSS Variables */
:root {
  --primary-color: #1f91ee;
  --secondary-color: #b40003;
  --background-color: #ffffff;
  --text-color: #000000;
  --border-color: #1f91ee;
  --hover-bg-color: #0056b3;
  --active-color: #004085;
}

html {
  overflow-y: scroll;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.75rem;
  margin: 15px auto;
  padding: 10px;
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 1.75rem;
  margin: 10px;
}

h2 {
  font-size: 1.4rem;
  margin: 5px 0px;
}

.container {
  background-color: var(--background-color);
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

li {
  padding-top: 3px;
  padding-bottom: 3px;
}

/**** Header ****/
#top-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color);
}

.siteName a,
#tools a {
  text-decoration: none;
  color: black;
}

.siteName {
  font-size: 2.25rem;
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-decoration: none;
  color: black;
}

#tools {
  font-family: "Spectral SC", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.15rem;
  text-decoration: none;
  color: black;
}

/**** Navigation ****/
nav {
  background-color: black;
  color: white;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  list-style: none;
  align-items: center;
  padding: 0px;
}

nav a {
  padding: 5px;
  color: #ffffff;
  text-decoration: none;
}

nav a:hover {
  color: #000;
  background-color: #fff;
  text-decoration: none;
}

.hidden {
  display: none;
}

/**** Hero ****/
.hero {
  background-color: #ffffff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.hero img {
  width: 80%;
  display: block;
  margin: 0 auto;
  height: auto;
}

.hero-cta {
  position: absolute;
  white-space: nowrap;
  padding: 5px;
  max-width: 40%;
  top: 0.5rem;
  left: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  color: var(--primary-color);
  font-weight: bolder;
}

.hero-cta h2 {
  margin: 0;
}

.hero-cta p {
  font-size: 0.75rem;
  margin: 0;
}

.hero-cta img {
  width: 125px;
  padding: 5px 0px;
  margin: 0px;
  align-self: flex-start;
}

/**** Content ****/
.info-section {
  background-color: #ffffff;
}

.upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  grid-column: 1;
  grid-row: 1;
}

.upgrades h2 {
  grid-column: 1/3;
}

.upgrade {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.item {
  background-color: var(--primary-color);
  width: 80%;
  height: 100px;
  border: 2px solid #b9b9b9;
  display: flex;
}

.link {
  text-decoration: underline;
  color: var(--text-color);
  font-weight: bold;
}

.upgrade-image {
  margin: auto;
}


footer {
  margin-top: 20px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  .info-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hero-cta {
    left: 2.5rem;
  }

  .hero-cta h2 {
    font-size: 2.2rem;
  }

  .hero-cta p {
    font-size: 1.25rem;
    margin: 0;
  }

  .hero-cta img {
    width: 200px;
  }
}

@media (min-width: 1025px) {
  :root {
    background-image: url("/images/site/checkerboard.jpg");
    background-size: auto auto;
    background-repeat: repeat;
  }

  body {
    border: 4px solid var(--border-color);
    border-radius: 10px;
    max-width: 1000px;
    font-size: 1rem;
  }

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  .hero-cta {
    left: 4rem;
  }

  .hero-cta h2 {
    font-size: 2.75rem;
  }

  .hero-cta p {
    font-size: 1.5rem;
    margin: 0;
  }

  .info-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hero-cta img {
    width: 250px;
  }

}