/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Custom CSS Variables */
:root {
  --primary-color: #1f91ee;
  --secondary-color: #b40003;
  --background-color: #ffffff;
  --text-color: #000000;
  --border-color: #1f91ee;
  --hover-bg-color: #0056b3;
  --active-color: #004085;
}

html {
  overflow-y: scroll;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.75rem;
  margin: 15px auto;
  padding: 10px;
  background-color: var(--background-color);
}

h1,
h2 {
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

li {
  padding-top: 3px;
  padding-bottom: 3px;
}

/****** Header ******/
#top-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color);
}

.siteName a,
#tools a {
  text-decoration: none;
  color: black;
}

.siteName {
  font-size: 2.5rem;
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-decoration: none;
  color: black;
}

#tools {
  font-family: "Spectral SC", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.15rem;
  text-decoration: none;
  color: black;
}

/****** navigation ******/

nav {
  background-color: black;
  color: white;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  list-style: none;
  align-items: center;
  padding: 0px;
}

nav a {
  padding: 5px;
  color: #ffffff;
  text-decoration: none;
}

nav a:hover {
  color: #000;
  background-color: #fff;
  text-decoration: none;
}

.hidden {
  display: none;
}

/****** Hero ******/
.hero {
  background-color: #ffffff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
}












